.login {
    padding-top: 60px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.form input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: -10px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    margin-bottom: 70px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 120px;
}