.footer{
    background-color: rgb(106, 106, 235);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}